.tracker{
    position: absolute;
    padding: 0.5vw;
    width: 100%;
    height: 100vh;
    /*background: red;*/
}

.tracer{
    background: aqua;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
}